{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint-config-prettier",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/typescript"
  ],
  "plugins": ["prettier", "react", "react-hooks"],
  "rules": {
    "react/destructuring-assignment": 1,
    "react/prop-types": 0,
    "react/display-name": 0,
    "react/jsx-fragments": [1, "syntax"],
    "react/jsx-no-useless-fragment": 1,
    "react/self-closing-comp": 1,
    "react/jsx-sort-props": 1,
    "react/hook-use-state": 1,
    "import/export": 1,
    "import/first": 1,
    "import/no-named-as-default": 0,
    "import/order": 1
  }
}
