---
import Layout from '../layouts/Layout.astro'
import SocialLinks from '../components/social-links.astro'
---

<Layout title="Andrew Tham | 404">
  <h1
    class="mb-4 mt-10 text-right text-3xl uppercase md:mb-10 md:mt-40 md:text-7xl"
  >
    Andrew Tham
  </h1>
  <SocialLinks align="right" />
  <h2 class="my-4 text-3xl">Oops! 404 - Page not found!</h2>
  <a class="underline" href="/">Home</a>
</Layout>
