---
import Layout from '../layouts/Layout.astro'
import SocialLinks from '../components/social-links.astro'
---

<Layout title="Andrew Tham | 404">
  <SocialLinks align="right" />
  <h2 class="my-4 text-3xl">Oops! 404 - Page not found!</h2>
  <a class="underline" href="/">Home</a>
</Layout>
