---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import TechIcons from '../components/tech-icons.astro'
import AstraHome from '../images/astra/Astra.png'
import AstraFull from '../images/astra/astra-full.png'
---

<Layout showHomeLink title="Andrew Tham | Astra the dog">
  <style>
    p {
      @apply mb-6 leading-6;
    }
  </style>
  <main>
    <h2 class="mb-6 text-3xl">Astra the dog</h2>
    <p>
      Website for my dog, Astra! The site contains information such as
      vaccination records and licensing.
    </p>

    <Image
      alt="Astra"
      class="mb-6 drop-shadow-lg"
      src={AstraHome}
      transition:name="/astra"
    />

    <p>
      Astra wears a collar tag eteched with a QR code linking to this website.
      Upon scanning the code the user can geolocate their position and contact
      me to report their location. The contact feature is not available unless
      the QR code link is used to access the site.
    </p>

    <TechIcons
      icons={[
        { name: 'logos:react', alt: 'React' },
        { name: 'logos:typescript-icon', alt: 'TypeScript' },
        { name: 'logos:tailwindcss-icon', alt: 'Tailwind CSS' },
      ]}
    />

    <Image
      class="drop-shadow-lg"
      src={AstraFull}
      alt="MarcheRunner dashboard"
    />
  </main>
</Layout>
