---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import TechIcons from '../components/tech-icons.astro'
import LCM from '../images/lcm/lcm.png'
import LCMFull from '../images/lcm/lcm-full.png'
---

<Layout showHomeLink title="Andrew Tham | Cafik-Martin Coaching">
  <style>
    p {
      @apply mb-6 text-justify leading-6 text-gray-600;
    }
  </style>
  <h2 class="mb-6 text-3xl">Cafik-Martin Coaching</h2>

  <div class="mb-6 flex items-center gap-2">
    <a
      class="font-semibold hover:underline"
      href="https://cafikmartincoaching.com/"
      target="_blank"
    >
      View Live
    </a>
  </div>

  <p>
    I worked with Orthodontic Speaker and Coach Laura Cafik-Martin to design,
    create, and deploy a website of her portfolio, services, and information.
  </p>

  <Image
    src={LCM}
    class="mb-6 shadow-xl"
    alt="Cafik-Martin Coaching"
    transition:name="/lcm"
  />

  <p>
    I had built a website for Laura in 2019 fresh out of web development
    bootcamp. The website was a very simple three page static build written with
    HTML, SCSS and some JavaScript. During the pandemic Laura was pivoting to
    coaching and asked me to expand on her website to include a section where
    she could have her online coaching program.
  </p>

  <TechIcons
    icons={[
      { name: 'logos:astro', alt: 'Astro' },
      { name: 'logos:tailwindcss-icon', alt: 'Tailwind' },
      { name: 'logos:react', alt: 'React' },
      { name: 'logos:remix-icon', alt: 'Remix' },
      { name: 'logos:typescript-icon', alt: 'TypeScript' },
      { name: 'logos:sanity', alt: 'Sanity' },
      { name: 'logos:prisma', alt: 'Prisma' },
      { name: 'logos:postgresql', alt: 'PostgreSQL' },
      { name: 'logos:auth0-icon', alt: 'Auth0' },
      { name: 'logos:netlify', alt: 'Netlify' },
    ]}
  />

  <Image
    alt="Cafik-Martin coaching full page"
    class="shadow-xl"
    src={LCMFull}
  />
</Layout>
