---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import TechIcons from '../components/tech-icons.astro'
import LCM from '../images/lcm/lcm.png'
import LCMFull from '../images/lcm/lcm-full.png'
import LCMLogin from '../images/lcm/lcm-login.png'
import LCMModules from '../images/lcm/lcm-modules.png'
---

<Layout showHomeLink title="Andrew Tham | Cafik-Martin Coaching">
  <style>
    p {
      @apply mb-6 text-justify leading-6 text-gray-600;
    }
  </style>
  <h2 class="mb-6 text-3xl">Cafik-Martin Coaching</h2>

  <div class="mb-6 flex items-center gap-2">
    <a
      class="font-semibold hover:underline"
      href="https://cafikmartincoaching.com/"
      rel="noopener noreferrer"
      target="_blank"
      title="LinkedIn"
    >
      View Live
    </a>
  </div>

  <p>
    I worked with Orthodontic Speaker and Coach Laura Cafik-Martin to design,
    create, and deploy a website of her portfolio, services, and information.
  </p>

  <Image
    src={LCM}
    class="mb-6 drop-shadow-lg"
    alt="Cafik-Martin Coaching"
    transition:name="/lcm"
  />

  <p>
    I had built a website for Laura in 2019 fresh out of web development
    bootcamp. The website was a very simple three page static build written with
    HTML, SCSS and some JavaScript. A year later Laura approached me with plans
    to expand on her website to include a section where she could launch her
    online mentoring and coaching program. We also took this opportunity to
    redesign her page and update the codebase to utilize a static site
    generator.
  </p>

  <p>
    The challenge to this update was building out a client portal that included
    authentication and tracked user progress through the course. Not wanting to
    build out a database or dedicated server I turned to Firebase which provided
    a simple database and could handle secure user authentication. Firebase's
    console panel also allows for multiple users and is user friendly and simple
    enough for Laura to understand and use on her own.
  </p>

  <p>
    Another benefit of Firebase are its good documentation and large userbase.
    Gatsby also has good documentation on usage and interaction with Firebase on
    their official documentation.
  </p>

  <TechIcons
    icons={[
      { name: 'logos:gatsby', alt: 'Gatsby' },
      { name: 'logos:javascript', alt: 'JavaScript' },
      { name: 'logos:sass', alt: 'SASS' },
      { name: 'logos:firebase', alt: 'Firebase' },
    ]}
  />

  <div class="flex flex-col items-center gap-8 md:flex-row md:items-start">
    <Image
      class="drop-shadow-lg md:w-1/2"
      src={LCMFull}
      alt="Cafik-Martin coaching full page"
    />

    <div class="flex flex-col gap-8 md:w-1/2">
      <Image
        class="drop-shadow-lg"
        src={LCMModules}
        alt="Cafik-Martin modules page"
      />
      <Image
        class="drop-shadow-lg"
        src={LCMLogin}
        alt="Cafik-Martin login page"
      />
    </div>
  </div>
</Layout>
