---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import TechIcons from '../components/tech-icons.astro'
import MapleLeafsDrought from '../images/mapleleafsdrought/mapleleafsdrought.png'
import Timeline from '../images/mapleleafsdrought/timeline.png'
---

<Layout showHomeLink title="Andrew Tham | Maple Leafs Drought">
  <style>
    p {
      @apply mb-6 text-justify leading-6 text-gray-600;
    }
  </style>
  <h2 class="mb-6 text-3xl">Maple Leafs Drought</h2>

  <div class="mb-6 flex items-center gap-2">
    <a
      class="font-semibold hover:underline"
      href="https://github.com/andrewthamcc/mapleleafsdrought"
      rel="noopener noreferrer"
      target="_blank"
    >
      View on GitHub
    </a>
    <a
      class="font-semibold hover:underline"
      href="https://mapleleafsdrought.com/"
      rel="noopener noreferrer"
      target="_blank"
      title="LinkedIn"
    >
      View Live
    </a>
  </div>

  <p>
    Maple Leafs Drought was created in response to the Maple Leafs 2021 playoff
    loss. Wanting to channel my disappointment and fustration I created this
    project to cope with the disappointing loss.
  </p>

  <Image
    alt="Maple Leafs Drought"
    class="mb-6 shadow-xl"
    src={MapleLeafsDrought}
    transition:name="/mapleleafsdrought"
  />

  <p>
    After leading the playoff series 3 - 1 the Maple Leafs proceeded to lose
    four games in a row to the Montreal Canadiens, a feat only performed 29
    times prior since 1942. The Canadiens would then go on to the Stanley Cup
    Finals.
  </p>

  <p>
    The timeline is heavily inspired by Josh Worth's work, <a
      class="font-bold italic underline"
      href="https://joshworth.com/dev/pixelspace/pixelspace_solarsystem.html"
      rel="noopener noreferrer"
      target="_blank">If the Moon were only 1 Pixel</a
    >. The timeline scale is programmatically calculated and updates every
    passing day to present an accurate representation of the time passed.
  </p>

  <TechIcons
    icons={[
      { name: 'logos:astro', alt: 'Astro' },
      { name: 'logos:react', alt: 'React' },
      { name: 'logos:typescript-icon', alt: 'TypeScript' },
      { name: 'logos:tailwindcss-icon', alt: 'Tailwind CSS' },
    ]}
  />

  <Image class="mb-6 shadow-xl" src={Timeline} alt="timeline" />

  <p>
    I still believe in the team and will forever be a fan. I hope to be able to
    add a win to the timeline soon.
  </p>
</Layout>
