---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Dashboard from '../images/marcherunner/dashboard.png'
import MarcheRunner from '../images/marcherunner/marcherunner.png'
import TechIcons from '../components/tech-icons.astro'
---

<Layout showHomeLink title="Andrew Tham | MarchéRunner">
  <style>
    p {
      @apply mb-6 text-justify leading-6 text-gray-600;
    }
  </style>

  <h2 class="mb-6 text-3xl">MARCHÉRUNNER</h2>

  <div class="mb-6 flex items-center gap-2">
    <a
      class="font-semibold hover:underline"
      href="https://github.com/andrewthamcc/marcherunner"
      target="_blank"
    >
      View on GitHub
    </a>
    <a
      class="font-semibold hover:underline"
      href="https://marcherunner.netlify.app/"
      target="_blank"
    >
      View Live
    </a>
  </div>

  <p>
    When going grocery shopping I was using a draft email in Gmail to write down
    my lists before heading out. I built this project out of desire for a better
    experience and to learn new technologies and improve on my skills.
  </p>

  <Image
    alt="MarcheRunner"
    class="mb-6 shadow-xl"
    src={MarcheRunner}
    transition:name="/marcherunner"
  />

  <p>
    MarchéRunner is a glorified To-Do List/Task application but has been
    incredibly useful to help learn new things and showcase skills I have picked
    up over time.
  </p>

  <TechIcons
    icons={[
      { name: 'logos:react', alt: 'React' },
      { name: 'logos:tailwindcss-icon', alt: 'Tailwind' },
      { name: 'logos:remix-icon', alt: 'Remix' },
      { name: 'logos:typescript-icon', alt: 'TypeScript' },
      { name: 'logos:prisma', alt: 'Prisma' },
      { name: 'logos:postgresql', alt: 'PostgreSQL' },
      { name: 'logos:auth0-icon', alt: 'Auth0' },
      { name: 'logos:docker-icon', alt: 'Docker' },
      { name: 'logos:jest', alt: 'Jest' },
      { name: 'logos:netlify', alt: 'Netlify' },
    ]}
  />

  <p>
    This project was my first fullstack project originally built on the MERN
    stack and has been rebuilt to learn new things. It's second iteration was
    build using the same stack as a previous workplace but it is currently a
    modern React application with Remix.
  </p>

  <Image
    alt="MarcheRunner dashboard"
    class="shadow-xl"
    src={Dashboard}
  />
</Layout>
