---
interface Props {
  description?: string
  title: string
}

const { description, title } = Astro.props
---

<section class="mb-20">
  <h2 class="mb-4 text-3xl uppercase">{title}</h2>
  {description && <p class="leading-6 text-gray-600">{description}</p>}
  <slot />
</section>
