---
import { Icon } from 'astro-icon/components'

interface Props {
  align?: 'left' | 'right'
}

const { align } = Astro.props
---

<div
  class:list={[
    'my-4 flex items-center gap-4',
    { 'justify-start': align === 'left', 'justify-end': align === 'right' },
  ]}
>
  <a
    class="transition-all hover:scale-125"
    href="https://github.com/andrewthamcc"
    target="_blank"
    title="GitHub"
  >
    <Icon
      aria-label="Go to GitHub"
      name="simple-icons:github"
      class="h-6 w-6"
    />
  </a>
  <a
    class="transition-all hover:scale-125"
    href="https://bsky.app/profile/andrewtham.cc"
    target="_blank"
    title="BlueSky"
  >
    <Icon
      aria-label="Go to Bluesky"
      name="simple-icons:bluesky"
      class="h-6 w-6"
    />
  </a>
  <a
    class="transition-all hover:scale-125"
    href="https://github.com/andrewthamcc"
    target="_blank"
    title="LinkedIn"
  >
    <Icon
      aria-label="Go to LinkedIn"
      name="simple-icons:linkedin"
      class="h-6 w-6"
    />
  </a>
</div>
