---
import { Icon } from 'astro-icon'

interface Props {
  align?: 'left' | 'right'
}

const { align } = Astro.props
---

<div
  class:list={[
    'my-4 flex items-center gap-2 text-gray-950',
    { 'justify-start': align === 'left', 'justify-end': align === 'right' },
  ]}
>
  <a
    class="h-8 w-8 transition-all hover:scale-125"
    href="https://github.com/andrewthamcc"
    rel="noopener noreferrer"
    target="_blank"
    title="GitHub"
  >
    <Icon aria-label="Go to GitHub" name="mdi:github" />
  </a>
  <a
    class="h-8 w-8 transition-all hover:scale-125"
    href="https://github.com/andrewthamcc"
    rel="noopener noreferrer"
    target="_blank"
    title="LinkedIn"
  >
    <Icon aria-label="Go to LinkedIn" name="mdi:linkedin" />
  </a>
</div>
