---
import { Icon } from 'astro-icon/components'

interface Icon {
  name: string
  alt: string
}

interface Props {
  icons: Icon[]
}

const { icons } = Astro.props
---

<ul
  class:list={[
    'flex items-center my-10 flex-wrap gap-4',
    { 'justify-around': icons.length > 5, 'justify-center': icons.length <= 5 },
  ]}
>
  {
    icons.map((i) => (
      <li>
        <Icon class="h-12 w-12" name={i.name} />
      </li>
    ))
  }
</ul>
