---
import { ViewTransitions } from 'astro:transitions'
import '@fontsource/montserrat'

interface Props {
  showHomeLink?: boolean
  title: string
}

const { showHomeLink, title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Andrew Tham, hello@andrewtham.cc" />
    <meta name="description" content="Portfolio of Andrew Tham" />
    <meta
      name="keywords"
      content="web devloper, front end developer, web dev, dev, portfolio, toronto, tham, andrew tham, react, node, javascript, typescript, html, css"
    />
    <meta property="og:title" content="Andrew Tham | Developer" />
    <meta property="og:description" content="Portfolio of Andrew Tham" />
    <meta property="og:image" content="https://www.andrewtham.cc/seo.png" />
    <meta property="og:url" content="https://www.andrewtham.cc" />

    <link rel="icon" type="image" href="/icon.png" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="flex h-screen flex-col">
    <header class="mx-auto w-4/5 max-w-7xl">
      {
        showHomeLink ? (
          <div class="mx-auto my-6 text-right md:mt-20">
            <a class="rounded-lg bg-gray-950 p-2 font-bold text-white" href="/">
              at
            </a>
          </div>
        ) : (
          <h1 class="mt-10 text-right text-3xl uppercase md:mt-40 md:text-7xl">
            Andrew Tham
          </h1>
        )
      }
    </header>
    <main class="mx-auto w-4/5 max-w-7xl flex-1">
      <slot />
    </main>
    <footer class="mt-4 bg-gray-950 py-2 md:mt-20">
      <div class="mx-auto w-4/5 max-w-7xl">
        <p class="text-xs text-white">
          Andrew Tham © {new Date().getFullYear()}
        </p>
      </div>
    </footer>
  </body>
</html>
